body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
}

#game {
  background-color: aquamarine;
  width: 100%;
  min-height: 100px;
}